<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iooiee.mappers.MemcardDao">
  <resultMap id="BaseResultMap" type="com.iooiee.entity.MemberCardProduct">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_club_id" jdbcType="BIGINT" property="createClubId" />
    <result column="create_club_name" jdbcType="VARCHAR" property="createClubName" />
    <result column="create_store_id" jdbcType="BIGINT" property="createStoreId" />
    <result column="create_store_name" jdbcType="VARCHAR" property="createStoreName" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="card_desc" jdbcType="VARCHAR" property="cardDesc" />
    <result column="card_type" jdbcType="INTEGER" property="cardType" />
    <result column="sale_max_date" jdbcType="TIMESTAMP" property="saleMaxDate" />
    <result column="sale_min_date" jdbcType="TIMESTAMP" property="saleMinDate" />
    <result column="start_sale_date" jdbcType="TIMESTAMP" property="startSaleDate" />
    <result column="end_sale_date" jdbcType="TIMESTAMP" property="endSaleDate" />
    <result column="entrance_times" jdbcType="INTEGER" property="entranceTimes" />
    <result column="max_gift_entrance" jdbcType="INTEGER" property="maxGiftEntrance" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="max_gift_days" jdbcType="INTEGER" property="maxGiftDays" />
    <result column="allowed_leave" jdbcType="INTEGER" property="allowedLeave" />
    <result column="member_limit" jdbcType="INTEGER" property="memberLimit" />
    <result column="support_store_type" jdbcType="INTEGER" property="supportStoreType" />
    <result column="support_store_ids" jdbcType="VARCHAR" property="supportStoreIds" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="reference_discount" jdbcType="INTEGER" property="referenceDiscount" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="sell_discount" jdbcType="INTEGER" property="sellDiscount" />
    <result column="open_method" jdbcType="INTEGER" property="openMethod" />
    <result column="cart_open_limit" jdbcType="INTEGER" property="cartOpenLimit" />
    <result column="editable" jdbcType="INTEGER" property="editable" />
    <result column="app_sale" jdbcType="INTEGER" property="appSale" />
    <result column="onsale" jdbcType="INTEGER" property="onsale" />
    <result column="card_img" jdbcType="VARCHAR" property="cardImg" />
    <result column="allow_time" jdbcType="VARCHAR" property="allowTime" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="extra_params" jdbcType="VARCHAR" property="extraParams" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 21 12:09:58 CST 2020.
    -->
    id, create_club_id, create_club_name, create_store_id, create_store_name, create_user_id, 
    create_user_name, create_datetime, card_name, card_desc, card_type, sale_max_date, 
    sale_min_date, start_sale_date, end_sale_date, entrance_times, max_gift_entrance, 
    valid_day, max_gift_days, allowed_leave, member_limit, support_store_type, support_store_ids, 
    reference_price, reference_discount, sell_price, sell_discount, open_method, cart_open_limit, 
    editable, app_sale, onsale, card_img, allow_time, area, extra_params
  </sql>


<!--  <select id="getListPage" resultMap="BaseResultMap">-->
<!--    select-->
<!--    <include refid="Base_Column_List"/>-->
<!--    from-->
<!--    saas_membercard_porduct-->
<!--    where create_club_id = #{clubId}-->
<!--    <if test="cardName != null">-->
<!--      and card_name like CONCAT(CONCAT('%',#{cardName}),'%')-->
<!--    </if>-->
<!--    <if test="cardType != null">-->
<!--      and card_type = #{cardType}-->
<!--    </if>-->
<!--    <if test="supportStoreType != null">-->
<!--      and support_store_type = #{supportStoreType}-->
<!--    </if>-->
<!--    <if test="appSale != null">-->
<!--      and app_sale = #{appSale}-->
<!--    </if>-->
<!--    <if test="onsale != null">-->
<!--      and onsale = #{onsale}-->
<!--    </if>-->
<!--    <if test="createStoreId != null">-->
<!--      and create_store_id = #{createStoreId}-->
<!--    </if>-->
<!--    <if test="createStoreName != null">-->
<!--      and create_store_name like CONCAT(CONCAT('%',#{createStoreName}),'%')-->
<!--    </if>-->

<!--    <if test="createUser != null">-->
<!--      and create_user_name like CONCAT(CONCAT('%',#{createUser}),'%')-->
<!--    </if>-->

<!--    &lt;!&ndash;   未开始    &ndash;&gt;-->
<!--    <if test="sellStatus == 0">-->
<!--      and unix_timestamp(start_sale_date) &gt; unix_timestamp(now())-->
<!--    </if>-->
<!--    &lt;!&ndash;   在售：正在销售期会籍卡    &ndash;&gt;-->
<!--    <if test="sellStatus == 1">-->
<!--      and unix_timestamp(start_sale_date) &lt;= unix_timestamp(now())-->
<!--      and unix_timestamp(end_sale_date) &gt;= unix_timestamp(now())-->
<!--    </if>-->

<!--    &lt;!&ndash;   停售    &ndash;&gt;-->
<!--    <if test="sellStatus == 2">-->
<!--      and unix_timestamp(end_sale_date) &lt; unix_timestamp(now())-->
<!--    </if>-->
<!--    &lt;!&ndash;   可售：在销售期或者还未开始    &ndash;&gt;-->
<!--    <if test="sellStatus == 3">-->
<!--      and unix_timestamp(end_sale_date) > unix_timestamp(now())-->
<!--    </if>-->
<!--  </select>-->
  <select id="queryAll" resultType="com.iooiee.entity.MemberCardProduct">
    select  * from saas_membercard_porduct
  </select>

<!--  <select id="queryAll" resultType="com.iooiee.entity.MemberCardProduct">-->
<!--    select-->
<!--    <include refid="Base_Column_List"/>-->
<!--    from-->
<!--    saas_membercard_porduct-->
<!--    where create_club_id = #{clubId}-->
<!--    <if test="cardName != null">-->
<!--      and card_name like CONCAT(CONCAT('%',#{cardName}),'%')-->
<!--    </if>-->
<!--    <if test="cardType != null">-->
<!--      and card_type = #{cardType}-->
<!--    </if>-->
<!--    <if test="supportStoreType != null">-->
<!--      and support_store_type = #{supportStoreType}-->
<!--    </if>-->
<!--    <if test="appSale != null">-->
<!--      and app_sale = #{appSale}-->
<!--    </if>-->
<!--    <if test="onsale != null">-->
<!--      and onsale = #{onsale}-->
<!--    </if>-->
<!--    <if test="createStoreId != null">-->
<!--      and create_store_id = #{createStoreId}-->
<!--    </if>-->
<!--    <if test="createStoreName != null">-->
<!--      and create_store_name like CONCAT(CONCAT('%',#{createStoreName}),'%')-->
<!--    </if>-->

<!--    <if test="createUser != null">-->
<!--      and create_user_name like CONCAT(CONCAT('%',#{createUser}),'%')-->
<!--    </if>-->

<!--    &lt;!&ndash;   未开始    &ndash;&gt;-->
<!--    <if test="sellStatus == 0">-->
<!--      and unix_timestamp(start_sale_date) &gt; unix_timestamp(now())-->
<!--    </if>-->
<!--    &lt;!&ndash;   在售：正在销售期会籍卡    &ndash;&gt;-->
<!--    <if test="sellStatus == 1">-->
<!--      and unix_timestamp(start_sale_date) &lt;= unix_timestamp(now())-->
<!--      and unix_timestamp(end_sale_date) &gt;= unix_timestamp(now())-->
<!--    </if>-->

<!--    &lt;!&ndash;   停售    &ndash;&gt;-->
<!--    <if test="sellStatus == 2">-->
<!--      and unix_timestamp(end_sale_date) &lt; unix_timestamp(now())-->
<!--    </if>-->
<!--    &lt;!&ndash;   可售：在销售期或者还未开始    &ndash;&gt;-->
<!--    <if test="sellStatus == 3">-->
<!--      and unix_timestamp(end_sale_date) > unix_timestamp(now())-->
<!--    </if>-->
<!--  </select>-->


</mapper>